#main_container {
	width: 8in;
}

#left, #right {
	width: 48%;
}

.print_button {
	display: none;
}

.hotcold_marker_1 {
    position: relative;
    left: 40%;
    width: 25px;
    top: -25px;
}

.hotcold_marker_2 {
    position: relative;
    left: 20%;
    width: 25px;
    top: -25px;
}

.hotcold_marker_3 {
    position: relative;
    left: 0%;
    width: 25px;
    top: -25px;
}

.hotcold_marker_4 {
    position: relative;
    left: -20%;
    width: 25px;
    top: -25px;
}

.hotcold_marker_5 {
    position: relative;
    left: -50%;
    width: 25px;
    top: -25px;
}

