#experience-level-picker {
	list-style: none;
	height: 234px;
	width: 880px;
	padding: 0px;
}

#experience-level-picker li {
	margin-right: 20px;
	float: left;
	width: 200px;
}

#experience-level-picker li a { 
	height: 234px;
	display: block;
	background: url(/media/images/legend-800w.png) no-repeat left center;
}

#experience-level-picker li a.selected {
	background: url(/media/images/legend-checked-800w.png) no-repeat left center;
}

#experience-level-picker li a:hover { 
	border-width: 5px;
}

#experience-level-picker li a.beginner { 
	background-position: 0px center;
}

#experience-level-picker li a.intermediate { 
	background-position: -200px center;
}

#experience-level-picker li a.advanced { 
	background-position: -400px center;
}

#experience-level-picker li a.professional { 
	background-position: -600px center;
}
