div { 
	margin: 0px;
	padding: 0px;
}

body {
	margin: 10px;
	padding: 10px;
}

#header {
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
	padding: 20px;
	margin: 20px;
}

.signup-form label {
	display: block;
	float: left;
	width: 80px;
	line-height: 1.5em;
}

.login-form label {
	display: block;
	float: left;
	width: 80px;
	line-height: 1.5em;
}

.messages {
	background-color: yellow;
}

.small-title {
	font-size: 1.1em;
	font-weight: bold;
}

.medium-title {
	font-size: 1.3em;
	font-weight: bold;
}

.large-title {
	font-size: 1.5em;
	font-weight: bold;
}
