.generic-border {
    border: 1px solid #422E13;
}

.generic-text {
    font-family: Helvetica, Arial;
    color: #422E13;
}

.generic-link {
    text-decoration: none;
}

.generic-link:hover {
    text-decoration: underline;
    color: #8E6B3E;
}

.generic-header { 
    width: 100%;
    border: 1px solid #422E13; /* Chrome doesn't like horizontal rules < 3px in height */
    color: #422E13; /* IE is redarded */
    background-color: #422E13; /* Mozilla and Opera are retarded also */
}   

.generic-table {
    border: 1px solid #422E13;
}

.generic-th {
    border: 1px solid #422E13;
}

.generic-td {
    border-bottom: 1px solid #422E13;
    border-right: 1px solid #422E13;
    border-left: 1px solid #422E13;
    padding: 2px;
}

.generic-tr:nth-child(odd) {
    background-color: #EEDDA4;
}

.generic-tr:nth-child(even) {
    background-color: #DDB686;
}

.generic-underline {
    text-decoration: underline;
}

div { 
	margin: 0px;
	padding: 0px;
}

body {
	margin: 10px;
	padding: 10px;
        background-color: #EEE4C5;
}

table {
	width: 70%;
}

label {
    font-family: Helvetica, Arial;
    font-weight: bold;
    color: #422E13;
}

ul li {
    color: #422E13;
}
    
.experience_level_image {
    height: 90px;
}

#experience_legend {
    height: 150px;
}

#header {
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
        padding-right: 100px;
        padding-top: 5px;
        padding-bottom: 10px;
        margin: 0px;
}

.header-logo {
    float: left;
    height: 100px;
    border: 0px;
}

input[type="text"] {
	width: 300px;
	background-color: #EEDDA4;
	border: 1px solid #422E13;
}

input[type="password"] {
	width: 300px;
	background-color: #EEDDA4;
	border: 1px solid #422E13;
}

input[type="submit"] {
	background-color: #EEDDA4;
	color: #422E13;
	border: 1px solid #422E13;
	padding: 3px;
}

input[type="submit"]:hover {
    background-color: #8E6B3E;
    color: #EEE4C5;
    cursor: pointer;
}

.signup-form label {
	display: block;
	float: left;
	width: 150px;
	line-height: 1.5em;
}

.contest-entry-form label {
	display: block;
	float: left;
	width: 180px;
	line-height: 1.5em;
}

.login-form label {
	display: block;
	float: left;
	width: 150px;
	line-height: 1.5em;
}

.messages {
    color: #991916 !important;
    font-weight: bold;	
}

.small-title {
	padding-top: 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.medium-title {
	padding-top: 10px;
	font-size: 1.3em;
	font-weight: bold;
}

.large-title {
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

.judging-category {
	font-weight: bold;
}

.centered {
    text-align: center;
}

.setaddress {
    width: 500px;
    text-align: right;
}
