{% extends "homebrewit.html" %}

{% block title %}
	{{user.username}}
{% endblock %}


{% block contenttitle %}
	{{user.username}}'s /r/Homebrewing Profile
{% endblock %}


{% block content %}
	{% if is_profile_owner %}
		<ul>
			{% if contest_year.allowing_entries %}
				<li><a href="{% url "homebrewit.contest.views.register" %}">Sign up for the {{contest_year.contest_year}} homebrewing contest</a></li>
			{% endif %}
			<li><a href="{% url "homebrewit.experiencelevel.views.change_level" %}">Set your experience level</a></li>
			<li><a href="{% url "homebrewit.profile.views.edit_profile" %}">Edit your profile and address</a></li>
		</ul>
	{% endif %}


	{% if level %}
		<div class="medium-title">
			<a href="{% url "homebrewit.experiencelevel.views.change_level" %}">Experience Level
			</a>
		</div>
		<img src="{{level.experience_level.get_absolute_url}}" class="experience_level_image" />
		<span>{{level.experience_level}}</span>
	{% endif %}

	<div class="medium-title">Contest Entries</div>
	<p>
		{% if contest_entries %}
			<ul>
				{% for entry in contest_entries %}
					<li>
						<a href="{% url "homebrewit.contest.views.entry" entry.style.contest_year.contest_year entry.style.id entry.id %}">
							{% if entry.beer_name %}
								{{entry.beer_name}}:
							{% endif %}
							{{entry.style}}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			{% if is_profile_owner %}
				You haven't
			{% else %}
				{{user.username}} hasn't 
			{% endif %}
			participated in any contests.
		{% endif %}
	</p>
{% endblock %}
