{% extends "homebrewit.html" %}
{% load staticfiles %}


{% block include %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="{% static "js/contest_controller.js" %}"></script>
{% endblock %}


{% block title %}
    Register
{% endblock %}


{% block contenttitle %}
    Want to enter in the competition?
{% endblock %}


{% block content %}
    <p>Just pick which style you'll be brewing:</p>

    <form class="contest-entry-form" method="POST" action="{% url "homebrewit.contest.views.register" 2013 %}" ng-app="contestApp" ng-controller="ContestSignupCtrl" ng-init="init({{contest_year.contest_year}})" />

        {% verbatim %}
            <select ng-model="style" ng-options="s.name for s in styles">
            </select>

            <select ng-model="subcategory" ng-show="style.subcategories" ng-options="subcategory.name for subcategory in style.subcategories">
            </select>

            <input ng-submit="registerForContest" type="submit" value="Register!"/>
        {% endverbatim %}
    </form>
{% endblock %}
