{% extends "homebrewit.html" %}
{% load staticfiles %}


{% block include %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="{% static "js/contest_controller.js" %}"></script>
{% endblock %}


{% block title %}
    Register
{% endblock %}


{% block contenttitle %}
    Want to enter in the competition?
{% endblock %}


{% block content %}
    <form class="contest-entry-form" name="form" method="POST" action="{% url "homebrewit.contest.views.register" contest_year.contest_year %}" role="form" ng-app="contestApp" ng-controller="ContestSignupCtrl" ng-init="init({{contest_year.contest_year}})">
        {% verbatim %}
        <div class="form-group">
            <label for="style-menu">Style:</label>

            <div class="dropdown">
                <div id="style-menu" href="#" role="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span>{{entry.style.name || "Choose Style"}} <span class="caret"></span></span>
                </div>

                <ul class="dropdown-menu" role="menu" aria-labeledby="style-menu">
                    <li role="presentation" class="divider" ng-if="style.has_subcategories" ng-repeat-start="style in styles"></li>

                    <li role="presentation" tab-index="-1" ng-attr-class="{{style.has_subcategories && 'dropdown-header'}}" ng-repeat-end>
                        <a role="menuitem" href="#"  ng-click="chosen(style)" ng-if="!style.has_subcategories">{{style.name}}</a>
                        <span role="menuitem" href="#" ng-if="style.has_subcategories">{{style.name}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group" ng-show="entry.style">
            <label for="beer-name">Beer Name:</label>

            <div>
                <input name="beer_name" id="beer-name" type="text" ng-model="entry.beer_name" />
            </div>
        </div>

        <div class="form-group" ng-show="entry.style">
            <label for="special-ingredients">Special Ingredients:</label>

            <div>
                <input name="special_ingredients" id="special-ingredients" type="text" ng-model="entry.special_ingredients" />
            </div>
        </div>

        <div class="form-group" ng-repeat="question in entry.style.beer_details" ng-switch="question.type">
            <label id= for="question-{{question.id}}">{{question.description}}:</label>

            <div ng-switch-when="contest.multiplechoicebeerdetail">
                <select id="question-{{question.id}}" role="menu" aria-labeledby="question-{{question.id}}-label" ng-model="question.value">
                    <option ng-repeat="choice in question.choices">{{choice.name}}</option>
                </select>
            </div>

            <div ng-switch-when="contest.textbeerdetail">
                <input name="question{{question.id}}" id="question-{{question.id}}" type="text" ng-model="question.value" ng-attr-placeholder="{{question.must_specify && 'Required' || ''}}" ng-attr-required="{{question.must_specify}}" />
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <button type="button" ng-click="registerForContest()" class="btn btn-primary" ng-disabled="form.$invalid || submitting">Register!</button>
        </div>

        {% endverbatim %}
    </form>
{% endblock %}
