{% extends "homebrewit.html" %}

{% load staticfiles %}


{% block title %}
        Entry Judging Form
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css" />
{% endblock %}

{% block contenttitle %}
    Entry Judging Form
{% endblock %}

{% block content %}
    {# XXX use a url helper for this #}
        <form action="/contest/judgeentry" method="POST">
            {% csrf_token %}

            {% if status_message %}
                <span class="messages small-title">{{ status_message }}</span>
            {% endif %}

            {{ entry_selection_form.as_p }}

            {{ judge_form.as_p }}

            <input type="submit" />
        </form>
{% endblock %}
