<p>Hey {{username}},</p>

<p>Thanks for entering the {{contest_year}} {{style}} category!  When sending your samples we request two plain, 12oz bottles including your reddit username and the style of the samples. You can send them to:</p>

{{name}}<br/>
{{address_1}}<br/>
{% if address_2 %}
    {{address_2}}<br/>
{% endif %}
{{city}}, {{state}} {{zip_code}}<br/>

<p>For tips on how to package your shipment, check out <a href="http://www.reddit.com/r/beertrade/comments/atztu/trading_and_packaging_tips/" title="this /r/beertrade thread">this /r/beertrade thread</a>.  If you have any questions or problems, please <a href="http://www.reddit.com/message/compose?to=%%23Homebrewing" title="contact the moderators">contact the moderators</a>.</p>

<p>As always, we appreciate your participation and look forward to a great competition.  May be the best brew win!</p>
