{% extends "homebrewit.html" %}

{% block content %}
	<div class="large-title generic-text">Welcome to the reddit.com/r/Homebrewing app!</div>

	{% comment %}
		XXX we don't always want to show the {{current_year}} contest sign up link.  It may be at a time after the contest has been judged
	{%  endcomment %}
	<p class="generic-text">
		From here you can <a class="generic-text generic-link" title="Login with your reddit.com credentials" href="{% url homebrewit.experiencelevel.views.change_level %}">set your experience level icon</a> as well as <a class="generic-text generic-link" title="Enter the {{current_year}} homebrew contest" href="{% url homebrewit.contest.views.register %}">entering for the {{current_year}} homebrew contest</a>.  Just login below with the same credentials you use for reddit:
	</p>

	<form class="login-form" method="POST" action="{% url homebrewit.signup.views.index %}">
		{% csrf_token %} 
		{{login_form.as_p}}
		<input type="submit" value="Login" />
	</form>

	{% if contest_data %}
		<div class="large-title generic-text">/r/homebrewing Competition</div>
		<ul>
			{% for year, style_data in contest_data.iteritems %}
				<div>
					<a title="{{year}} Competition" href="{% url homebrewit.contest.views.contest_year year %}" class="generic-link large-title generic-text">
						{{year}}'s Competition
					</a>
				</div>

				<table>
					<tr class="generic-tr">
						<th class="generic-text generic-link generic-th">Style</th>
						<th class="generic-text generic-link generic-th">Entries</th>
						<th class="generic-text generic-link generic-th">Winner</th>
					</tr>

					{% for style in style_data %}
						<tr class="generic-tr">
							<td class="generic-td">
								<a href="{% url homebrewit.contest.views.style year style.style.id %}" title="{{year}} - {{style.style.name}}" class="generic-link generic-text">
									{{style.style.name}}
								</a>
							</td>
							<td class="generic-text generic-link centered generic-td">{{style.n_entries}}</td>
							<td class="centered generic-td">
								{% if style.winner %}
									<a title="{{year}} {{style.style.name}} Winner" href="{% url homebrewit.contest.views.entry year style.style.id style.winner.id %}" class="generic-text generic-link">
										{{style.winner.winner}}
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
