<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
		<title>homebrewit app - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" src="/media/styles.css" type="text/css" />
	</head>
	<body>
		{% if messages %}
			<div class="message">
				{% for message in messages %}
					<ul>
						<li>{{message}}</li>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>
