{% extends "homebrewit.html" %}

{% block include %}
	<link rel="stylesheet" href="/media/css/contest.css" type="text/css" />

	<script type="text/javascript">
var style_data = {{style_data_as_json|safe}};

$(document).ready(function() {
	var label_el = $('label[for="id_style_subcategory"]');
	var subcategory_el = $('select[name="style_subcategory"]');

	function hide_subcategories() {
		label_el.hide();
		subcategory_el.hide();
	}

	function show_subcategories() {
		label_el.show();
		subcategory_el.show();
	}

	$('select[name="style"]').change(function() {
		var selected = $(this).val();
		if (style_data[selected].length == 0) {
			hide_subcategories();
			return true;
		}

		var options = "";
		for (var i = 0; i < style_data[selected].length; i++) { 
			var sub = style_data[selected][i];
			options += "<option value=\"" + sub.id + "\">" + sub.name + "</option>";
		}

		subcategory_el.html(options);
		show_subcategories();

		return true;
	});
});
	</script>
{% endblock %}


{% block title %}
	{{form.style}}
{% endblock %}


{% block contenttitle %}
	Want to enter in the competition?
{% endblock %}


{% block content %}
	<p>Just pick which style you'll be brewing:</p>

	<form class="contest-entry-form" method="POST" action="{% url homebrewit.contest.views.register %}">
		{% csrf_token %}

		{{form.as_p}}

		<input type="submit" value="Register"/>
	</form>
{% endblock %}
