{% extends "homebrewit.html" %}

{% block title %}
	Related Reddits
{% endblock %}


{% block contenttitle %}
	Related Reddits
{% endblock %}


{% block content %}
    <p class="small-title">Related Subreddits</p>
    <ul>
        <li><a href="http://reddit.com/r/beer" target="_blank">Beer</a></li>
        <li><a href="http://reddit.com/r/beergeek" target="_blank">Beergeek</a></li>
        <li><a href="http://reddit.com/r/beerporn" target="_blank">Beerporn</a></li>
        <li><a href="http://reddit.com/r/beertrade" target="_blank">Beertrade</a></li>
        <li><a href="http://reddit.com/r/ciderpron" target="_blank">Ciderporn</a></li>
        <li><a href="http://reddit.com/r/distilling" target="_blank">Distilling</a></li>
        <li><a href="http://reddit.com/r/firewater" target="_blank">Firewater</a></li>
        <li><a href="http://reddit.com/r/mead" target="_blank">Mead</a></li>
        <li><a href="http://reddit.com/r/TheBrewery" target="_blank">TheBrewery</a></li>
        <li><a href="http://reddit.com/r/winemaking" target="_blank">Winemaking</a></li>
    </ul>
{% endblock %}
