{% extends "homebrewit.html" %}

{% block title %}
	{{style.contest_year}} Reddit Homebrewing Contest - {{style.name}}
{% endblock %}


{% block contenttitle %}
	{{style.contest_year}} - {{style.name}}
{% endblock %}


{% block content %}
	{% if address %}
		<div class="large-title">Shipping Entries</div>
		<p>If you are competing in this category, please ship your samples to</p>
		{{address.name}}
		{{address.address_1}}
		{% if address.address_2 %}
			{{address.address_2}}
		{% endif %}
		{{address.city}}, {{address.state}} {{address.zip_code}}
	{% endif %}

	<table>
		<tr class="generic-tr">
			<th class="generic-th generic-text">Beer</th>
			<th class="generic-th generic-text">Score</th>
		</tr>
		{% for entry in entries %}
			<tr class="generic-tr">
				<td class="generic-td generic-text">
					<a title="{{entry}}" href="{% url homebrewit.contest.views.entry style.contest_year style.id entry.id %}" class="generic-link generic-text">
						{{entry.user}} 
						{% if entry.beer_name %}- {{entry.beer_name}}{% endif %}
					</a>
				</td>
				<td class="generic-td">
					{{entry.get_rating_description}}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
