{% extends "homebrewit.html" %}

{% block include %}
	<link rel="stylesheet" href="/media/css/experiencelevel.css" type="text/css" />
{% endblock %}

{% block title %}
	Set your experience level
{% endblock %}


{% block contenttitle %}
	Set your homebrewing experience level
{% endblock %}

{% block content %}
	<p>
		By setting your experience level, whenever you post on /r/Homebrewing
		a small icon will appear next to your name indicating your experience
		level as a homebrewer.
	</p>

	<form action="{% url homebrewit.experiencelevel.views.change_level %}" method="POST">
		{% csrf_token %}

		<ul id="experience-level-picker" class="experience-level-picker">
			<li><a href="#" class="beginner generic-border"></a></li>
			<li><a href="#" class="intermediate generic-border"></a></li>
			<li><a href="#" class="advanced generic-border"></a></li>
			<li><a href="#" class="professional generic-border"></a></li>
		</ul>

		<div class="clear"></div>
	</form>

{% endblock %}
