<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta name="description" content="Reddit /r/homebrewing app" />
        <meta name="keywords" content="reddit.com, reddit, homebrewing, contest, experience, level" />
		<title>homebrewit app - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/media/reset-styles.css" type="text/css" />
		<link rel="stylesheet" href="/media/styles.css" type="text/css" />
	</head>
	<body>
		<div id="header">
			{% if user.is_authenticated %}
				<a title="{{user.username}}'s Profile" href="{% url homebrewit.profile.views.logged_in_profile %}">{{user.username}}</a> 
				|
				<a title="Logout" href="{% url homebrewit.signup.views.logout %}">Logout</a>
			{% else %}
				<a title="Login" href="{% url homebrewit.signup.views.login %}">Login</a>
				|
				<a title="Sign Up" href="{% url homebrewit.signup.views.signup %}">Sign Up</a>
			{% endif %}
		</div>

		{% if messages %}
			<div class="message">
				{% for message in messages %}
					<ul>
						<li>{{message}}</li>
					</ul>
				{% endfor %}
			</div>
		{% endif %}

		{% block content %}{% endblock %}
	</body>
</html>
