{% extends "homebrewit.html" %}

{% block title %}
	Change Password
{% endblock %}

{% block contenttitle %}
	Change Password
{% endblock %}


{% block content %}
	<p>
		When you first sign up, your password will be set to the same as your
		password for reddit.com.  If you change your password on reddit.com,
		those changes will not be reflected on this site.
	</p>

	<form class="change-password-form" method="POST" action="{% url homebrewit.profile.views.change_password %}">
		{% csrf_token %}

		{{form.as_p}}
		<input type="submit" value="Change Password" />
	</form>
{% endblock %}

