<!DOCTYPE html>
<html id="home" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Reddit /r/homebrewing app" />
		<meta name="keywords" content="reddit.com, reddit, homebrewing, contest, experience, level" />
		<title>reddit.com/r/Homebrewing App - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/media/styles.css" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		{% block include %}{% endblock %}
	</head>
	<body>
		<header id="header">
			{% if user.is_authenticated %}
				<a title="{{user.username}}'s Profile" href="{% url homebrewit.profile.views.logged_in_profile %}" class="generic-text generic-link">{{user.username}}</a> 
				|
				<a title="Logout" href="{% url homebrewit.signup.views.logout %}" class="generic-text generic-link">Logout</a>
			{% else %}
				{% comment %}
				<a title="Register" href="{% url homebrewit.signup.views.signup %}" class="generic-text generic-link">Register</a>
				{% endcomment %}
			{% endif %}

			<a title="reddithomebrewing.com" href="/">
				<img src="/media/images/header-logo.png" class="header-logo" />
			</a>
		</header>

		<div class="large-title generic-text">
			{% block contenttitle %}
			{% endblock %}
		</div>
		<hr class="generic-header">
		<div class="clear"></div>

		{% if messages %}
			<div class="generic-text">
				{% for message in messages %}
					<ul>
						<li class="messages">{{message}}</li>
					</ul>
				{% endfor %}

				{% block message %}

				{% endblock %}
			</div>
		{% endif %}

		<article>
			{% block content %}{% endblock %}
		</article>

		<footer>
			<p class="generic-text">
				<a title="Contact Moderators" href="http://www.reddit.com/message/compose?to=%23Homebrewing">Contact the Moderators</a>
				-
				<a title="2011 Homebrew Competition Rules" href="http://www.reddit.com/r/Homebrewing/comments/gqroz/announcing_the_2011_reddit_homebrew_contest/">2011 Homebrew Contest Info</a>
				-
				<a title="Donating will help pay for contest prizes" href="http://pledgie.com/campaigns/14583">Donate</a>
				{% block footer %}
				{% endblock %}
			</p>
		</footer>
	</body>
</html>
