{% extends "homebrewit.html" %}

{% block title %}
	{{year}} /r/homebrewing Contest 
{% endblock %}


{% block contentitle %}
	{{year}}'s Contest Styles
{% endblock %}


{% block content %}
	{% if contest_year.prize_description %}
		<p>{{contest_year.prize_description|safe}}</p>
	{% endif %}

	{% for style, data in styles.iteritems %}
		<div class="medium-title">
			<a title="{{year}} - {{style.name}}" href="{% url homebrewit.contest.views.style year style.id %}">
				{{style.name}}
			</a>
		</div>

		{% if data.entries %}
			<table class="contest-table">
				<tr class="generic-tr">
					<th class="generic-th">Beer</th>
					<th class="generic-th" width="20%">Score</th>
					<th class="generic-th" width="15%">Received Entry</th>
				</tr>

				{% for entry in data.entries %}
					<tr class="generic-tr">
						<td class="generic-td">
							<a title="{{entry}}" href="{% url homebrewit.contest.views.entry style.contest_year style.id entry.id %}">
								{{entry.user}} 
								{% if entry.beer_name %}- {{entry.beer_name}}{% endif %}
							</a>
						</td>
						<td class="generic-td">
							{{entry.get_rating_description}}
						</td>
						<td class="generic-td centered">
							{% if entry.received_entry %}
								<img src="/media/icons/tick.png" />
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>

			{% if data.has_more %}
				<a title="More entries for {{style}}" href="{% url homebrewit.contest.views.style style.contest_year style.id %}">
					More entries...
				</a>
			{% endif %}
		{% endif %}
		{% if not data.entries %}
			<p>No entries yet.</p>
		{% endif %}
	{% endfor %}
{% endblock %}
