{% extends "homebrewit.html" %}

{% block title %}
	Related Reddits
{% endblock %}


{% block contenttitle %}
	Related Reddits
{% endblock %}


{% block content %}
    <p class="small-title">Related Subreddits</p>
    <ul>
        <li><a href="http://reddit.com/r/beer" target="_blank">BEER</a></li>
        <li><a href="http://reddit.com/r/beergeek" target="_blank">BEERGEEK</a></li>
        <li><a href="http://reddit.com/r/beerporn" target="_blank">BEERPORN</a></li>
        <li><a href="http://reddit.com/r/beertrade" target="_blank">BEERTRADE</a></li>
        <li><a href="http://reddit.com/r/ciderpron" target="_blank">CIDERPORN</a></li>
        <li><a href="http://reddit.com/r/distilling" target="_blank">DISTILLING</a></li>
        <li><a href="http://reddit.com/r/firewater" target="_blank">FIREWATER</a></li>
        <li><a href="http://reddit.com/r/mead" target="_blank">MEAD</a></li>
        <li><a href="http://reddit.com/r/winemaking" target="_blank">WINEMAKING</a></li>
    </ul>
{% endblock %}
